@model Order

@{
    ViewData["Title"] = "Sil";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<h3>Silmek İstediğinize Emin Misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppUser.Name)
            @Html.DisplayFor(model => model.AppUser.Surname)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderState)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderState)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Geri Dön</a>
    </form>
</div>
