@model IEnumerable<Order>

@{
    ViewData["Title"] = "Siparişler";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<p>
    <a asp-action="Create" class="btn btn-outline-success">
        <i class="bi bi-person-plus-fill"></i> Ekle
    </a>
</p>
<table id="datatablesSimple" class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
           
           
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.OrderState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
               @item.TotalPrice.ToString("N2") TL
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.Name)
                @Html.DisplayFor(modelItem => item.AppUser.Surname)
            </td>
           
          
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderState)
            </td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.ID">Düzenle</a>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.ID">Detay</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ID">Sil</a>
                </td>
        </tr>
}
    </tbody>
</table>
