@model IEnumerable<Category>

@{
    ViewData["Title"] = "Kategoriler";
}

<p>
    <a asp-action="Create" class="btn btn-outline-success">
        <i class="bi bi-person-plus-fill"></i> Yeni Kategori Ekle
    </a>
</p>
<table id="datatablesSimple" class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTopMenu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderNo)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    @item.CreateDate.ToShortDateString()
                </td>
            <td>
                    <img src="/img/@Html.DisplayFor(modelItem => item.Image)" height="100" width="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTopMenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNo)
            </td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.ID">Düzenle</a>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.ID">Detay</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ID">Sil</a>
                </td>
        </tr>
}
    </tbody>
</table>
