@model CheckoutModelViews
@{
	ViewData["Title"] = "Satın Al";
}



<section class="container my-5">
	<div class="text-center">
		<h1 class="display-4">Satın Al</h1>
	</div>

	<div class="row">
		<div class="col-md-8">
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Ürün</th>
							<th>Fiyat</th>
							<th>Miktar</th>
							<th>Toplam</th>

						</tr>
					</thead>
					<tbody>
						@if (Model.CartProducts.Any())
						{
							@foreach (var item in Model.CartProducts)
							{
								<tr>
									<td>
										<img src="/img/products/@item.Product.Image" alt="@item.Product.Name" height="37" />

									</td>
									<td>
										<a href="/Products/Details/@item.Product.ID">
											@item.Product.Name
										</a>
									</td>
									<td>
										₺ @item.Product.Price.ToString("N2")
									</td>
									<td>
										@item.Quantity
									</td>
									<td>
										@((item.Quantity * item.Product.Price).ToString("c"))
									</td>

								</tr>
							}


						}

					</tbody>

				</table>
			</div>

		</div>
		<div class="col-md-4">
			<div>
				<h4> Sipariş Özeti</h4>
			</div>
			<table class="table">
				<tr>
					<td>
						Ürün Toplamı
					</td>
					<td>
						@Model.TotalPrice.ToString("c2")
					</td>
				</tr>
				<tr>
					<td>Kargo</td>
					<td>
						@(Model.TotalPrice > 999 ? "Ücretsiz" : Model.CartProducts.Any() ? "99₺" : "0₺")
					</td>
				</tr>

				<tr>
					<th>Sirapiş Toplamı</th>
					<td>
						@(Model.TotalPrice > 999 ? Model.TotalPrice : (Model.CartProducts.Any() ? Model.TotalPrice + 99 : "0₺"))
					</td>
				</tr>
			</table>
		</div>

		<hr />
		@if (Model.Addresses is null)
		{
			<div class="alert alert-warning my-5">
				<h5 class="text-danger">
					Kayıtlı Adresiniz Bulunamadı
				</h5>
				<h6>
					Sipariş verebilmek için adres eklemelisiniz!
				</h6>
				<a href="/MyAdresses" class="btn btn-danger">Adres Ekle</a>
			</div>
		}
		else
		{
			<form asp-action="CheckOut">
				<div class="my-5">
					<h3>Teslimat Adresi</h3>
					<div class="row row-cols-3">
						@foreach (var item in Model.Addresses)
						{
							<div class="col">
								<div class="card">
									<div class="card-header">
										<div class="form-check">
											<label class="form-check-label">
												<input type="radio" class="form-check-input" name="DeliveryAddress" value="@item.AddressGuid" @(item.IsDeliveryAddress ? "checked" : "") />
												@item.Title
											</label>
										</div>
									</div>

									<div class="card-body">
										<p>
											@item.OpenAddress @item.District @item.City
										</p>
										<div class="form-check">
											<label class="form-check-label">
												<input type="radio" class="form-check-input" name="BillingAddress" value="@item.AddressGuid" @(item.IsBillingAddress ? "checked" : "") />
												Fatura Adresi
											</label>
										</div>
										
									</div>

								</div>
							</div>
						}
					</div>

				</div>
				<div class="my-5">
					<h2> Ödeme Seçenekleri </h2>
					<h3> Kart İle Öde</h3>
					<h3> Banka veya Kredi Kartı Kullanarak Ödeme Yapabilirsiniz</h3>
					<h6>Kart Bilgileri</h6>
					<div class="row">
						<div class="col-md-4">
							<label>Kart Üzerindeki İsim</label>
							<input type="text" name="CardNameSurname" class="form-control" required/>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<label>Kart Numarası</label>
							<input type="number" name="CardNumber" class="form-control" required/>
						</div>
					</div>
					<div class="row">
						<label>Son Kullanma Tarihi</label>
						<div class="col-md-2"> 
							<select class="form-select" name="CardMonth">
								<option disabled value="">Ay</option>
								<option  value="1">01</option>
								<option  value="2">02</option>
								<option  value="3">03</option>
								<option  value="4">04</option>
								<option  value="5">05</option>
								<option  value="6">06</option>
								<option  value="7">07</option>
								<option  value="8">08</option>
								<option  value="9">09</option>
								<option  value="10">10</option>
								<option  value="11">11</option>
								<option  value="12">12</option>
							</select>
						</div>

						<div class="col-md-2">
							<select class="form-select" name="CardYear">

								<option disabled value="">Yıl</option>
								@{
									int yil = DateTime.Now.Year;
								}
								@for (int i = yil; i < yil + 20 ; i++)
								{
									<option value="@i">@i</option>
								}
								
							
							</select>
						</div>

					</div>

					<div class="row">
						<div class="col-4">
							<label>CVV</label>
							<input type="number" name="CVV" class="form-control" required />
						</div>
					</div>
					<button type="submit" class="btn btn-success mt-2">Ödeme Yap</button>
				</div>
			</form>
		}
	</div>
</section>
