@model CartViewModels
@{
	ViewData["Title"] = "Sepetim";
}



<section class="container my-5">
	<div class="text-center">
		<h1 class="display-4">Sepetim</h1>
	</div>

	<div class="row">
		<div class="col-md-8">
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Ürün</th>
							<th>Fiyat</th>
							<th>Miktar</th>
							<th>Toplam</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@if (Model.CartLines.Any())
						{
							@foreach (var item in Model.CartLines)
							{
								<tr>
									<td>
										<img src="/img/products/@item.Product.Image" alt="@item.Product.Name" height="37" />

									</td>
									<td>
										<a href="/Products/Details/@item.Product.ID">
											@item.Product.Name
										</a>
									</td>
									<td>
										₺ @item.Product.Price.ToString("N2")
									</td>
									<td>
									   @item.Quantity
									</td>
									<td>
									   @((item.Quantity * item.Product.Price).ToString("c"))
									</td>
									<td>
										<form asp-action="Remove" asp-controller="Cart">
											<input type="hidden" value="@item.Product.ID" name="ProductID" />
											<button class="btn btn-sm btn-danger" type="submit"><i class="bi bi-x-lg"></i></button>

										</form>
									</td>
								</tr>
							}


						}

					</tbody>

				</table>
			</div>

		</div>
		<div class="col-md-4">
			<div>
				<h4> Sepet Toplamı</h4>
			</div>
			<table class="table">
				<tr>
					<td>
						Ara Toplam
					</td>
					<td>
						@Model.TotalPrice.ToString("c2")
					</td>
				</tr>
				<tr>
					<td>Kargo</td>
					<td>
						@(Model.TotalPrice > 999 ? "Ücretsiz": Model.CartLines.Any() ? "99₺" : "0₺")
					</td>
				</tr>

				<tr>
					<th>Sirapiş Toplamı</th>
					<td>
						@(Model.TotalPrice > 999 ? Model.TotalPrice : (Model.CartLines.Any() ? Model.TotalPrice + 99 : "0₺"))
					</td>
				</tr>
			</table>

			<div class="text-center">
				<a href="/" class="btn btn-warning"> Alışverişe Devam Et </a>
				<a href="/Cart/Checkout" class="btn btn-success"> Satın Al </a>
			</div>
		</div>
	</div>
</section>
